<p>
  comment-form works!
</p>

<form [formGroup]="commentFormGroup" (ngSubmit)="submitForm()">
<div class="form-group">
    <label>Nick</label>
    <input formControlName="name" type="text" class="form-control" placeholder="Type me if you want use other template" />
</div>
<div class="form-group">
    <label>Komentarz</label>
    <textarea class="form-control" formControlName="body" placeholder="Comment must start with AAA"></textarea>
</div>

    <mat-form-field>
        <mat-label>Static value</mat-label>
        <app-static-form-field formControlName="name" required></app-static-form-field>
        <mat-error>Example error message</mat-error>
    </mat-form-field>

<input type="submit" value="Add" />
</form>

<p>Form value {{ commentFormGroup.value | json }} </p>
<p> Form status {{ commentFormGroup.status | json}} </p>
