<p>
  comment-form works!
</p>

<form [formGroup]="commentFormGroup" (ngSubmit)="submitForm()">
<div class="form-group">
    <label>Nick</label>
    <input formControlName="name" type="text" class="form-control" />
</div>
<div class="form-group">
    <label>Komentarz</label>
    <textarea class="form-control" formControlName="body" placeholder="Comment must start with AAA"></textarea>
</div>
<input type="submit" value="Add" />
</form>

<p>Form value {{ commentFormGroup.value | json }} </p>
<p> Form status {{ commentFormGroup.status | json}} </p>
